/* 
    Document   : AppsCSS
    Created on : Feb 6, 2015, 8:06:08 AM
    Author     : Anonymous
    Description:
        Purpose of the stylesheet follows.
*/

@keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes heart-beat {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes heart-beat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes heart-beat {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

body {
    min-height: 780px;
    padding-top: 62px;
    background-color: #f1f1f1;
}

.tooltip {
    font-size: 11px;
    font-weight: bold;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #fff;
}

@media (min-width: 992px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: transparent;
    }
}

.navbar-cont{
    width: 100%;
    padding: 0 40px;
}

.navbar-nav > li > a.navbar-gly {
    font-size: 20px;
    padding: 13.3px;
}

.navbar-nav > li > .dropdown-menu {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -1px;
}

.navbar-default .navbar-nav > li > a {
    border: 1px solid transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #FFF;
    color: #797979;
    z-index: 1031;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.navbar-default .navbar-nav > .open > a.navbar-gly, 
.navbar-default .navbar-nav > .open > a.navbar-gly:hover, 
.navbar-default .navbar-nav > .open > a.navbar-gly:focus {
    color: #cc181e;
}

.logo-nav,.footer-logo{
    background: url("../image/imagespngcopy.png");
}

.logo-nav{
    background-position: 0px 9px;
    background-size: 300px;
    width: 100px;
}

.navbar-blog {
  background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
  border-bottom: 1px solid #e8e8e8;
  -webkit-box-shadow: none;
	box-shadow: none;
  max-height: 51px;
  z-index: 1030;
}

.navbar-default .navbar-nav > li > a.btn-nav-menu {
    background-color: transparent;
    border: 1px solid transparent;
    color: #e5e5e5;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    margin: 11px;
    padding: 3px 8px;
}

.navbar-blog:hover .navbar-nav > li > a.btn-nav-menu {
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    color: #333333;
}

.navbar-default .navbar-nav > .open > a.btn-nav-menu, .navbar-default .navbar-nav > .active > a.btn-nav-menu {
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #B5100A;
}

.navbar-blog:hover .navbar-nav > .open > a.btn-nav-menu {
    background-color: transparent;
    border: 1px solid transparent;
    color: #B5100A;
}

.navbar-default .navbar-nav > li > a.btn-nav-menu > .caret {
    zoom: 75%;
}

.navbar-nav > li > .dropdown-nav-menu {
    position: fixed;
    right: 0;
    top: 50px;
    width: 190px;
    height: 100%;
    border: none;
    border-right: 1px solid #e8e8e8;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 0 15px;
    padding-top: 13px;
}

.navbar-nav > li.li-btn {
    
}
.navbar-nav > li.li-btn > a > .glyphicon{
    font-size: 15px;
    top: 0.19em;
    margin-right: 2px;
}
.navbar-nav > li.li-btn > a {
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: none;
    font-size: 12px;
    max-height: 50px;
}
.navbar-nav > li.li-btn > a:hover{
    text-shadow: none;
}

.navbar-nav > li.li-lvsport > a{
    background-color: #454545;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#3e3e3e),color-stop(1,#333));
    background-image: -webkit-linear-gradient(top,#3e3e3e,#333);
    background-image: linear-gradient(top,#3e3e3e,#333);
    color: #fff;
}
.navbar-nav > li.li-lvsport > a:hover {
    color: #cc181e;
}

.navbar-nav > li.li-ads > a{
    background-color: #940000;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,#cc181e),color-stop(1,#AD1616));
    background-image: -webkit-linear-gradient(top,#cc181e,#AD1616);
    background-image: linear-gradient(top,#cc181e,#AD1616);
    color: #fff;
}

.dropdown-nav-menu > li > a {
    padding: 5px 13px;
    margin: 0;
    font-size: 12px;
    cursor: pointer;
}

.dropdown-nav-menu > li > a:hover,.dropdown-nav-menu > li > a:focus {
    background: #444;
    color: #ffffff;
}

.dropdown-nav-menu > li > a > .glyphicon {
    margin-right: 10px;
} 

.dropdown-nav-menu > li > a.active {
    background: #cc181e;
    color: #ffffff;
}

.dropdown-nav-menu > li > a.active:hover {
    color: #444;
}

.dropdown-nav-menu > li.dropdown-header {
    padding: 3px 5px;
    color: #cc181e;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.dropdown-nav-menu > div.siterank {
    text-align: center;
    padding: 15px;
}

.channel-list-box{
  position: relative;
  float: left;
  width: 100%;
  padding: 3px;
}
.channel-list-box:hover{
  background-color: #525252;
  color: #1a1a1a;
}
.channel-list-box:active{
  background-color: #3a3a3a;
  color: #1a1a1a;
  cursor: pointer;
}
.channel-list-box.on{
  background-color: #3a3a3a;
  color: #1a1a1a;
  cursor: default;
}

.logo-img{
  position: relative;
  width: 80px;
  height: 50px;
  float: left;
  margin-right: 5px;
  background-color: #000000;
}
.logo-img img{
  max-width: 70%;
  max-height: 60%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.channel-list-desc .nm{
  margin-top: 0px;
  color: #f5f5f5;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  position: relative;
  z-index: 10;
}
.channel-list-desc .nm:hover{
    color: #ffffff;
    text-decoration: underline;
}
.sv {
    font-size: 11px;
    margin: 2px 0 5px; 
    cursor: pointer;
    padding: 1px;
    border: 1px solid transparent;
    border-radius: 2px;
    margin-top: 3px;
    font-weight: bold;
    position: relative;
    z-index: 10;
}
.sv:hover,.sv.on{
    background-color: #BD0202;
    color: #ffffff;
    border-color: #700000;
}
.click-area{
    position: absolute;
    height: 100%;
    width: 99%;
    top: 0;
    z-index: 5;
}
.col-channel-list{
  position: relative;
  background-color: #1a1a1a;
  height: 403.5px;
  color: #b8b8b8;
  padding: 0px;
  overflow: hidden;
}

.col-channel-list .panel-tab-data {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;
}

.col-channel-list .panel-tab-data .tab-content {
    position: relative;
    float: left;
    height: 89.6%;
    width: 100%;
    overflow: hidden;
}

.col-channel-list .panel-tab-data .tab-content .tab-pane {
    float: left;
    height: 100%;
    width: 100%;
}

.col-channel-list .panel-tab-data .tab-content .tab-pane .cl-ct {
    float: left;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.col-channel-list .panel-tab-data .tab-content .tab-pane .cl-ct::-webkit-scrollbar { width: 10px; } 
.col-channel-list .panel-tab-data .tab-content .tab-pane .cl-ct::-webkit-scrollbar-track { background-color: #555555; border-radius: 0px; width: 0px; }
.col-channel-list .panel-tab-data .tab-content .tab-pane .cl-ct::-webkit-scrollbar-thumb { background-color: #8e8e8e; border-radius: 0px; }
.col-channel-list .panel-tab-data .tab-content .tab-pane .cl-ct::-webkit-scrollbar-thumb:hover { background-color: #aaa; }
.col-channel-list .panel-tab-data .tab-content .tab-pane .cl-ct::-webkit-scrollbar-button{ display: none; }

.li-tab-att{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 9px;
    font-weight: bold;
    background: #bd0202;
    padding: 0px;
    border-radius: 50%;
    z-index: 1029;
    color: #fff;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 1.8;
}

@media (min-width: 1200px) {
  .container-body {
    width: 1190px;
  }
}

/* CONTENT PAGE */

.contentpage {
    min-height: 698.5px;
}

.col-player{
  padding: 0px;
  height: 404px;
  background: black;
}

@media (min-width: 992px) {
    .col-player{
        width: 63%;
    }
    .col-channel-list{
        width: 37%;
    }
}

/* ADVERTISE */
.ads-300x250 {
    max-width: 300px;
    max-height: 250px;
}

.adv-pa {
    padding: 2px;
    position: relative;
    background-color: #fff;
    float: left;
    margin: 0;
    margin-bottom: 10px;
    overflow: hidden;
}

.adv-pa img{
    max-width: 100%;
    max-height: 90px;
}

.adv-pa-content {
    background-color: #d5d5d5;
    text-align: center;
    position: relative;
    margin: 2px;
    color: #ffffff;
}

.adv-pa-content embed {
    max-width: 100%;
}

@media (min-width: 992px) {
    .adv-pa {
        width: 100%;
    }
    .adv-pa-content {
        height: 100px;
        width: 99.5%;
        float: left;
    }
    .adv-pa-content embed {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.adv-sb {
    padding: 2px;
    position: relative;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    margin: 0;
    margin-bottom: 10px;
    float: left;
}
.adv-sb-content {
    background-color: #a5a5a5;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
    color: #ffffff;
    margin: 2px;
    overflow: hidden;
}

.adv-sb-content embed {
    max-width: 100%;
}

@media (min-width: 992px) {
    .adv-sb {
        width: 100%;
    }
    .adv-sb-content {
        height: 100px;
        width: 99%;
        float: left;
    }
    .adv-sb-content embed {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.btn-ads{
    padding: 0 5px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 2px;
}

.col-player > .pa-ads{
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    box-shadow: none; 
       
}

.col-player > .pa-ads > .pa-ads-content{
    position: relative;
    text-align: center;
    padding: 0;
    border-radius: 0;
    overflow: hidden;
    display: inline-table;
    /*
    -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255,0.25);
    -moz-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255,0.25);
    box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255,0.25);
    */
}

.col-player > .pa-ads > .pa-ads-content > .close {
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    
}

.btn-close-pa-ads {
    padding: 0 6px;
    border-radius: 0;
    font-size: 14px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #c03636;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #c03636;
    cursor: pointer;
}
.nav-tabs > li > a{
    color: #f5f5f5;
    border: 0;
    border-bottom: 1px solid transparent;
    margin-right: 0px;
    border-radius: 0;
    padding: 10px 13px;
}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    color: #c03636;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #c03636;
    cursor: pointer;
}
.navbar-nav > li > button {
    margin: 15px 5px;
    padding: 0 5px;
    height: 20px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 2px;
}

.navbar-nav > li > select {
    margin: 11px 5px;
    padding: 0 5px;
    height: 28px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid #D9D9D9;
}

.navbar-nav > li > input,.navbar-nav > li > input:hover,.navbar-nav > li > input:focus {
    margin: 11px 5px;
    padding: 0 5px;
    height: 28px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid #D9D9D9;
    font-size: 14px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.tab-cannel .dropdown .dropdown-menu {
    min-width: 432px;
    background-color: #1a1a1a;
    border-radius: 0;
    border-color: #cccccc;
    padding: 0;
    right: -1%;
    left: auto;
    height: 366px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-cannel .dropdown .dropdown-menu li {
    width: 33.33%;
    float: left;
}

.tab-cannel .dropdown .dropdown-menu li a {
    color: #ffffff;
}

.tab-cannel .dropdown .dropdown-menu li a:hover{
    color: #1a1a1a;
}

.tab-cannel .open > a, .tab-cannel .open > a:hover, .tab-cannel .open > a:focus {
    background-color: #1a1a1a;
}

.tab-cannel .drpdwn-more {
    float: right;
}

.modal-header {
    background-color: #1a1a1a;
    padding: 7px 10px;
    color: #f5f5f5;
    border-bottom: 0px solid #c03636;
}

.modal-footer {
    background-color: #f5f5f5;
    padding: 5px 20px;
}

.modal-header .close {
    margin-top: 1px;
    background-color: #f5f5f5;
    padding: 5px;
}

.modal-dialog {
    width: 600px;
    margin: 150px auto;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #000000;
}

/* FOOTER */
.footer {
    background-color: #ffffff;
    margin-top: 10px;
    width: auto;
    max-width: 100%;
    padding: 0 30px;
    min-height: 120px;
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
    position: relative;
    bottom: 0;
    z-index: 1029;
    display: none;
}

.footer-home {
    margin-left: 190px;
}

.footer-logo{
    background-position: 0 3px;
    background-size: 300px;
    height: 40px;
    width: 100px;
}

.footer-menu{
    line-height: 1.3;
    float: left;
    height: 40px;
    padding-top: 5px;
}
.footer-menu li{
    float: left;
    margin-right: 15px;
    color: #a5a5a5;
    font-weight: bold;
    list-style: none;
}
.footer-menu li > a{
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 5px 9px;
    color: #333333;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    display: block;
}

.footer-menu li a:hover{
    background-color: #e5e5e5;
}

.footer-menu li > a.usronline a {
    color: #333333;
    text-decoration: none;
}

.footer-fixed {
    position: fixed;
    bottom: -90px;
    padding-top: 0;
    width: 100%;
    background: #f5f5f5;
    margin-left: 0;
}

.footer-fixed .footer-logo {
    background-size: 200px;
}

.footer-fixed.footer-home .footer-logo {
    margin-left: 190px;
}

.footer-fixed .footer-menu {
    line-height: 2;
    position: absolute;
    right: 0;
    width: auto;
}

.footer-fixed .footer-menu li a{
    background-color: transparent;
    border: 0px solid transparent;
    font-size: 10px;
    font-weight: bold;
    padding: 0;
}

.footer-fixed .footer-menu li a:hover{
    background: transparent;
    color: #B5100A;
}

.footer-fixed .footer-menu li > a.usronline {
    color: green;
}

.footer-fixed .footer-menu li > a.usronline a {
    color: green;
    text-decoration: none;
}

.footer-fixed .footer-menu li a:hover a {
    color: #B5100A;
}

.footer-desc{
    margin-top: 10px;
    padding: 10px 0px;
    border-top: 1px solid #f0f0f0;
    font-size: 11px;
    float: left;
    width: 100%;
}

.footer-desc a{
    margin-right: 10px;
    color: #666;
    font-size: 11px;
    font-weight: bold;
    cursor: pointer;
}

.footer-desc span{
    color: #666;
    font-size: 11px;
}

/*TWITTER*/
.twitter-li {
    padding-right: 15px;
}
.twitter-li iframe{
    margin-top: 15px;
    max-width: 80px;
}

/* ALERT SIDEBAR */
.alert-view{
    height: 90px;
    overflow-y: auto;
    float: left;
    margin-bottom: 10px;
}
.alert-view::-webkit-scrollbar { width: 5px; } 
.alert-view::-webkit-scrollbar-track { background-color: transparent; border-radius: 0px; width: 0px; }
.alert-view::-webkit-scrollbar-thumb { background-color: #ccc; border-radius: 0px; }
.alert-view::-webkit-scrollbar-thumb:hover { background-color: #aaa; }
.alert-view::-webkit-scrollbar-button{ display: none; }

.alert-sidebar{
    margin-bottom: 10px;
    border-radius: 0px;
    font-size: 11px;
    padding: 5px 10px 5px 5px;
    border-left-width: 3px;
    border-bottom: 0px;
    border-right: 0px;
    border-top: 0px;
    background: #fff;
    box-shadow: none;
}

/* SIDEBAR */
.mainbar {
    float: left;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100%;
}
.sidebar-right {
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    width: 100%;
}

@media (min-width: 992px) {
    .mainbar {
        width: 63%;
        margin-right: 10px;
    }
    .sidebar-right {
        width: 36%;
    }
}

.channel-desc{
    background: #ffffff;
    padding: 10px;
    padding-top: 5px;
    margin-top: 0;
    float: left;
    margin-bottom: 10px;
    width: 100%;
    min-height: 275px;
}

.channel-desc > .title-area {
    margin-top: 0px;
    border-bottom: 1px solid #f5f5f5;
    float: left;
    width: 100%;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.channel-desc > .title-area > .tit {
    font-size: 23.499999px;
    line-height: 37.99999px;
}

.channel-desc > .title-area > .cnl-sr-ic {
    width: 32px;
    height: 32px;
    float: right;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 5px;
}

.cnl-sr-ic.fb {
    background: url('../image/sm/facebook.png');
}
.cnl-sr-ic.tw {
    background: url('../image/sm/twitter.png');
}
.cnl-sr-ic.gp {
    background: url('../image/sm/googleplus.png');
}

.channel-desc > .channel-desc-content {
    float: left;
}

.live-traffic{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: -1900px;
    margin: auto;
    float: left;
    width: 300px;
    max-height: 650px;
    background: #1a1a1a;
    z-index: 1033;
    text-align: center;
    border-radius: 6px;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.live-traffic .btn-close-traffic {
    padding: 0px 6px;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1032;
}

#player-area {
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

#player-area > span{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 20px;
    text-align: center;
}

#player-area-sts {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 11px;
    text-align: center;
    top: 65.5%;
}

#player-area iframe{
    background: #1a1a1a; 
    width:728px; 
    height:404px; 
    overflow:hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 0;
}
#player-area iframe::-webkit-scrollbar { width: 10px; } 
#player-area iframe::-webkit-scrollbar-track { background-color: #1a1a1a; border-radius: 0px; width: 0px; }
#player-area iframe::-webkit-scrollbar-thumb { background-color: #8e8e8e; border-radius: 0px; }
#player-area iframe::-webkit-scrollbar-thumb:hover { background-color: #aaa; }
#player-area iframe::-webkit-scrollbar-button{ display: none; }

/* CHAT */

#chattab iframe{
    position: absolute;
    top: -50px;
    bottom: 0;
    margin: auto;
    height: 410px;
}

.chat-fixed{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1031;
    width: 482.5px;
    height: 96.5%;
}

/* FOLLOW NAVBAR */

.dropdown-menu-follow{
    min-width: 200px;
    padding: 10px;
}

/* NOTIFICATION */

.dropdown-notif .count_ntf {
    font-size: 12px;
    background: #cc181e;
    color: #fff;
    min-width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 15px;
    text-align: center;
    border-radius: 7.5px;
    padding: 0 3px;
    display: none;
}

.dropdown-menu-notif {
    padding: 5px 10px;
    min-width: 330px;
    min-height: 300px;
}
.dropdown-menu-notif .bx_notif {
    
}
.dropdown-menu-notif .bx_notif .bx_notif_itm {
    padding: 5px;
    cursor: pointer;
}
.dropdown-menu-notif .bx_notif .bx_notif_itm:hover {
    background: #f9f9f9;
}
.dropdown-menu-notif .bx_notif .bx_notif_itm .ntf_t {
    font-weight: bold;
    margin: 0;
}
.dropdown-menu-notif .bx_notif .bx_notif_itm:hover .ntf_t {
    color: #BD0202;
}
.dropdown-menu-notif .bx_notif .bx_notif_itm .ntf_ds{
    font-size: 12px;
    color: #a5a5a5;
    text-decoration: none;
}
/* WEB SEARCH NAVBAR */
.navbar-nav > li.li-nav-src {
        margin-left: 0;
    }

@media (min-width: 992px){
    .navbar-nav > li.li-nav-src {
        margin-left: 0px;
    }
}

.navbar-nav > li > select.wb-src-sl {
    margin: 11px -2px;
}

.navbar-nav > li > input.wb-src {
    margin-left: 10px;
    width: 100%;
    margin-right: 0;
}

@media (min-width: 992px){
    .navbar-nav > li > input.wb-src {
        margin-left: 0;
        width: 600px;
    }
}

.wb-src {
    display: none;
    float: left;
}

.wb-src.on{
    display: inline;
}

/* WEB SEARCH RESULT */

#myModalNtvnetSearch > .modal-dialog{
    width: 900px;
    height: 80%;
    margin: 40px auto;
    overflow: auto
}

.box-src-rs{
    height: 65px;
    overflow: hidden;
}

.box-src-rs h4{
    margin-bottom: 0px;
}

.box-src-rs h4 a {
    color: #940F04;
}

.box-src-rs .lnk-rs {
    color:green;
}

.box-src-rs p {
    font-size: 12px;
}

/* ADS SIDEBAR */

.ik-mainbar{
    float: left;
    max-height: 90px;
    margin-bottom: 10px;
    background-image: url('../image/ads728x90.png');
}

.ik-sidebar{
    margin-bottom: 10px;
    float: left;
    background: #fff;
    width: 100%;
    padding: 10px;
    min-height: 275px;
}

/* HOME PAGE */

.homepage {
    width: 100%;
    padding: 0;
    min-height: 698.5px;
    margin-top: 38px;
}

.homepage > .hp-mainbar {
    float: left;
    width: 728px;
    margin-right: 10px;
    margin-left: 200px
}

.hp-navbar {
    position: fixed;
    height: 40px;
    max-width: 100%;
    width: auto;
    background: #fff;
    top: 50px;
    right: 0;
    left: 190px;
    z-index: 1029;
    text-align: center;
    border-bottom: 1px solid #e8e8e8;
}
#myTabHomepage {
    display: inline-block;
    height: 40px;
    border-color: transparent;
}
#myTabHomepage>li {
    border-color: transparent;
}
#myTabHomepage.nav-tabs>li>a {
    font-size: 13px;
    color: #333;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    padding: 9px 3px;
    margin-right: 20px;
}
#myTabHomepage.nav-tabs>li>a:hover, #myTabHomepage.nav-tabs>li>a:focus {
    border-bottom: 3px solid #cc181e;
}
#myTabHomepage.nav-tabs>li.active>a, #myTabHomepage.nav-tabs>li.active>a:hover, #myTabHomepage.nav-tabs>li.active>a:focus {
    background-color: transparent;
    border-bottom: 3px solid #cc181e;
    cursor: pointer;
    font-weight: bold;
}

.hp-cnl-list{
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    min-height: 700px;
}

.hp-cnl-list-box{
    float: left;
    width: 100%;
    max-height: 160px;
    overflow: hidden;
    -moz-transition: 0.1s;
    -ms-transition: 0.1s;
    -o-transition: 0.1s;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin-bottom: 10px;
}

.hp-cnl-list-box.open{
    max-height: 10000px;
    background-color: #ffffff;
}

.hp-cnl-list-box > .clb-cat-nm {
    float: left;
    width: 99%;
    border-bottom: 1px solid #f5f5f5;
    margin: 0 5px;
    margin-bottom: 5px;
}

.hp-cnl-list-box.open > .clb-cat-nm {
    border-bottom: 1px solid #f5f5f5;
}

.hp-cnl-list-box > .clb-cat-nm > h5 {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 14px;
    float: left;
    margin-bottom: 2px;
}

.hp-cnl-list-box > .clb-cat-nm > .sw-all{
    text-align: right;
    float: right;
    margin: 8px 0;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    color: #a5a5a5;
}

.hp-cnl-list-box > .clb-cat-nm > .sw-all:hover {
    color: #cc181e;
}

.hp-cnl-list-box > .cnl-list-cnt {
    /*width: 23.5%;*/
    width: 166px;
    height: 110px;
    float: left;
    margin: 5px;
    position: relative;
    padding: 5px;
    border: 1px solid #e5e5e5;
}

.hp-cnl-list-box.open > .cnl-list-cnt {
    /*width: 15%;*/
    width: 106px;
    height: 70px;
}

.hp-cnl-list-box > .cnl-list-cnt > .clc-img {
    width: 100%;
    height: 100%;
    position: relative;
    background: #000;
    cursor: pointer;
    border-radius: 0px;
    overflow: hidden;
}

.hp-cnl-list-box > .cnl-list-cnt > .clc-img >img{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 50%;
    max-height: 40%;
}

.hp-cnl-list-box > .cnl-list-cnt > .clc-glyp {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 5px;
    line-height: 105px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background: rgba(0,0,0,.5);
    display: none;
}

.hp-cnl-list-box.open > .cnl-list-cnt > .clc-glyp {
    line-height: 60px;
    font-size: 15px;
}

.hp-cnl-list-box .cnl-list-cnt:hover > .clc-glyp {
    display: initial;
}

.hp-cnl-list-box .cnl-list-cnt:hover > .clc-glyp > .glyphicon {
    -webkit-animation: heart-beat 1s linear infinite;
    -moz-animation: heart-beat 1s linear infinite;
    -ms-animation: heart-beat 1s linear infinite;
    animation: heart-beat 1s linear infinite;
}

.hp-cnl-list-box > .cnl-list-cnt > .clc-nm{
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    padding-left: 5px;
    color: #fff;
    width: 90%;
    font-size: 90%;
    border-radius: 5px;
    background: transparent;
}

.hp-cnl-list-box .cnl-list-cnt:hover > .clc-nm {
    color: #BD0202;
}

.hp-cnl-list-box.open > .cnl-list-cnt > .clc-nm {
    font-size: 80%;
}

.homepage > .hp-sidebar{
    float: left;
    position: relative;
    width: 300px;
}

.ifrm_ls {
    width: 728px;
    height: 3000px;
    overflow: auto;
    padding: 15px;
}
.ifrm_ls::-webkit-scrollbar { margin-right: 10px; width: 7px; } 
.ifrm_ls::-webkit-scrollbar-track { background-color: transparent; border-radius: 3.5px; width: 0px; }
.ifrm_ls::-webkit-scrollbar-thumb { background-color: #eee; border-radius: 3.5px; }
.ifrm_ls::-webkit-scrollbar-thumb:hover { background-color: #e5e5e5; }
.ifrm_ls::-webkit-scrollbar-button{ display: none; }

/* PAGE ACTION */

.pageaction{
    display: none;
}

.pageaction.on {
    display: block;
}

/* ADS HOMEPAGE MAINBAR */

.hp-ads-mainbar{
    background-color: transparent;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    height: 90px;
    float: left;
    width: 100%;
}
.hp-ik-mv{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    float: left;
}
.ik-mv-video{
    position: relative;
    width: 60.8%;
    float: left;
}
.ik-mv-video:after{
    padding-top: 56.25%;
    display: block;
    content: '';
}
.ik-mv-video iframe{
    position: relative;
    border: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.ik-mv-desc{
    width: 39%;
    display: inline-block;
    padding: 15px;
}
.ik-mv-desc .mv_dt{
    color: #cc181e;
}
.ik-mv-desc .mv_dt:hover{
    color: #A7151A;
    text-decoration: none;
}
.ik-mv-desc .mv_vd{
    color: #a5a5a5;
    font-size: 11px;
}
.ik-mv-desc .mv_ds{
    margin-top: 15px;
    font-size: 12px;
    color: #555;
}
.ik-mv-nt{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #a5a5a5;
    cursor: pointer;
    font-size: 10px;
}
.ik-mv-nt:hover{
    color: #999;
}

.ads-bg-set{
    background: url('../image/header-ads-google-cover.png') no-repeat;
    background-position: center;
}

/* ADS HOMEPAGE SIDEBAR */

.hp-ads-sidebar{
    float: left;
    position: relative;
    background: #fff;
    width: fit-content;
    margin-bottom: 10px;
}

/* PANEL STYLE */

.my-pnl{
    border: 0;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    background: #fff;
}

/* NPROGRESS */

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  /*background: #29d;*/
  background: #C30505;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  /*box-shadow: 0 0 10px #29d, 0 0 5px #29d;*/
  box-shadow: 0 0 10px #C30505, 0 0 5px #C30505;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  /*border-top-color: #29d;
  border-left-color: #29d;*/
  border-top-color: #C30505;
  border-left-color: #C30505;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Embed Website */
/*
#embedWebsite span{
    position: absolute;
    width: 100%;
    font-size: 11px;
    text-align: center;
    top: 65.5%;
    cursor: pointer;
    float: left;
}*/

#embedWebsite > .btn {
    background: #111;
    border-radius: 0;
}

#myModalEmbedWebsite .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
}
#myModalEmbedWebsite .modal-dialog .modal-content {
    height: 100%;
    overflow: hidden;
    border-radius: 0;
    border: none;
}

#myModalEmbedWebsite .modal-dialog .modal-content .modal-header h4 img {
    content: url('../image/iconcopy.png');
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

#myModalEmbedWebsite .modal-dialog .modal-content .modal-header h4 .btn {
    padding: 5.1px 9px;
    font-size: 11px;
}

#myModalEmbedWebsite .modal-dialog .modal-content .modal-body {
    height: 10%;
}

#myModalEmbedWebsite .modal-dialog .modal-content .modal-body {
    padding: 0;
    height: 95%;
}

#myModalEmbedWebsite .modal-dialog .modal-content .modal-body iframe {
    width: 100%;
    height: 100%;
    border: 0;
}



